<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rate Flow</title>
</head>
<body>
    <h1>Rate Flow Currency Converter</h1>

    <form action="/convert" method="POST">
        <input type="number" name="amount" id="amount" placeholder="Amount" required>

        <select name="fromCurrency" id="fromCurrency">
            
        </select>
    </form>
</body>
</html>